asgiref==3.2.10
boto==2.49.0
boto3==1.15.6
botocore==1.18.6
coverage==5.3
Django==3.1.1
django-admin==2.0.1
django-excel-base==1.0.4
django-excel-response2==3.0.2
django-six==1.0.4
django-storages==1.10.1
gunicorn==20.0.4
jmespath==0.10.0
nose==1.3.7
psycopg2==2.8.6
python-dateutil==2.8.1
pytz==2020.1
s3transfer==0.3.3
screen==1.0.1
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
wheel==0.26.0
xlwt==1.3.0
